<li>
	{{name}}

	<button class="change-devour btn btn-success" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devoured}}Eat Me!{{else}}Redorder Me!{{/if}}
	</button>

	<button class="delete-burger btn btn-danger" data-id="{{this.id}}">Trash Me!</button>
</li>